<div>
  <table class = "table">
   <caption>List orders</caption>
    <tr>
      <th>Order Date</th>
      <th>User</th>
      <th>Menu</th>
    </tr>

    <% @today_orders.find_each do |order| %>

      <tr>
        <td><%= order.order_date %></td>
        <td><%= order.user.email %></td>
        <td>  <% order.items.sort_by{ |elem| elem.course }.each do |i| %>
              <%= i.title %> - <%= i.price %> руб. <br>
              <% end %>
              <b>Total: <%= order.items.pluck(:price).sum %> руб.</b>
        </td>
      </tr>

    <% end %>

  </table>
</div>