
      <%= simple_form_for @order do |f| %>

    <tr>
      <td> <%= f.association :items, as: :check_boxes, collection: Item.where(day_order: Date.today, course: "First"), value_method: :id, label_method: :title %>
      </td>

      <td> <%= f.association :items, as: :check_boxes,  collection: Item.where(day_order: Date.today, course: "Second"), value_method: :id, label_method: :title %>
      </td>

      <td> <%= f.association :items, as: :check_boxes, collection: Item.where(day_order: Date.today, course: "Third"), value_method: :id, label_method: :title %>
      </td>
    </tr>



        <%= f.button :submit %>    
    <% end %>
