      <%= simple_form_for @order do |f| %>

    <tr>
      <td> First course: <%= f.association :items, as: :check_boxes, collection: Item.where(day_order: Date.today, course: "First"), value_method: :id %>
      </td>

      <td> Second course: <%= f.association :items, as: :check_boxes, collection: Item.where(day_order: Date.today, course: "Second"), value_method: :id %>
      </td>

      <td> Third course: <%= f.association :items, as: :check_boxes, collection: Item.where(day_order: Date.today, course: "Third"), value_method: :id %>
      </td>
    </tr>



        <%= f.button :submit %>    
    <% end %>



