<h3>Listing items</h3>
<div>
<table class = "table table-striped">
  <tr>
    <th>Title</th>
    <th>Day Order</th>
    <th>Price</th>
    <th>Course</th>
    <th>Picture</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @items.each do |item| %>

    <tr>
      <td><%= item.title %></td>
      <td><%= item.day_order %></td>
      <td><%= item.price %></td>
      <td><%= item.course %></td>
      <td><%= image_tag item.avatar.url(:thumb) %></td>
      <td><%= link_to 'Show', item_path(item) %></td>
      <td><%= link_to("Edit", edit_item_path(item) ) %></td>
      <td><%= link_to("Delete",item_path(item), method: :delete, data: { confirm: 'Are you sure?' }) %></td>
    </tr>
  <% end %>
</table>
</div>

