<p>Notice: all menu will be entered by current date</p>

<%= form_tag(items_path, method: "post") do %>

<p> <%= label_tag(:item, "Title") %></p>
<p><%= text_field(:item, :title) %></p>

<p> <%= label_tag(:item, "Description") %></p>
<p><%= text_field(:item, :description) %></p>




<p> <%= label_tag(:item, "Price") %></p>
<p> <%= number_field(:item, :price, in: 0.01..9999999.99, step: 0.01) %></p>


<%= radio_button_tag("item[course]", "First") %>
<%= label_tag("item[course]", "First course") %>
<%= radio_button_tag("item[course]", "Second") %>
<%= label_tag("item[course]", "Second course") %>
<%= radio_button_tag("item[course]", "Third") %>
<%= label_tag("item[course]", "Third course") %>

<%= hidden_field_tag("item[day_order]", Time.now.strftime("%d/%m/%Y")) %>

<p><%= submit_tag("Submit") %></p>
<% end %>


