<p>Notice: all menu will be entered by current date</p>

<%= simple_form_for @item, url: items_path do |f| %>
  <p> <%= f.input :title, label: 'Name of item', error: 'Name is mandatory, please specify one' %></p>
  <p> <%= f.collection_radio_buttons :course, [["First", "First course"] ,["Second", "Second course"] ,["Third", "Third course"]], :first, :last%></p>
  <p> <%= f.input :price, in: 0.01..9999999.99, step: 0.01 %></p>
  <p> <%= f.input :avatar, as: :file %></p>
      <%= f.hidden_field :day_order, value: Time.now.strftime("%d/%m/%Y") %>
  <p> <%= f.button :submit %></p>
<% end %>

<% if @item.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</p>
 
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

